<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="book-card mt-5 pt-5">
        <h2><%= @new ? "Crear" : "Editar" %> <%= @print.product.name %></h2>

          <%= simple_form_for([@product, @print]) do |f| %>
            <%= f.input :title, label: "Qué título quieres poner?" %>
            <%= f.input :cover_photo, as: :file, label: "Foto de portada?"%>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Fotos?" %>
            <a target="_blank" href="https://api.instagram.com/oauth/authorize?client_id=1569528696781232&redirect_uri=https://cbb5-2001-1388-3c1-7520-dcb6-f211-1b91-735b.ngrok.io/instagram/&scope=user_profile,user_media&response_type=code"
            >Cargar de instagram</a>
            <% if @new %>
              <%= f.button :submit, "Crear #{@print.product.name}" , class: "btn btn-flat"%>
            <% else %>
              <%= f.button :submit, "Actualizar #{@print.product.name}" , class: "btn btn-flat"%>
            <% end %>
          <% end %>
      </div>
    </div>

    <% if @print.cover_photo.attached? %>
      <div class="col-md-6 col-xs-12">
        <div class="book-card mt-5 pt-5">
          <%= cl_image_tag @print.cover_photo.key, class: "cover-photo" %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <% unless @new %>
      <%= link_to "Mandar al carrito book editor", complete_print_path, method: :patch, class: "btn btn-flat" %>
    <% end %>
  </div>

<% if @print.photos.attached? %>
  <div class="book-card mt-5 pt-5">
    <div class="photos">
      <% @print.photos.each do |photo| %>
        <div class="photo-container">
          <%= cl_image_tag photo.key, class: "photo" %>
          <%= link_to trash_print_path(key: photo.key), method: :delete do %>
              <i class="fas fa-trash-alt delete-photo-btn"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>
