<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-xs-12">
      <div class="book-card mt-5 pt-5">
        <h2>Crear <%= @print.product.name %></h2>

          <%= simple_form_for([@product, @print]) do |f| %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Fotos?" %>
            <%= f.button :submit, "Crear #{@print.product.name}" , class: "btn-primary"%>
          <% end %>
      </div>
    </div>

  </div>
  <%= link_to "Confirmar #{@print.product.name}", root_path, class: "btn btn-flat" %>

<% if @print.photos.attached? %>
  <div class="book-card mt-5 pt-5">
    <div class="photos">
      <% @print.photos.each do |photo| %>
        <div class="photo-container">
          <%= cl_image_tag photo.key, class: "photo" %>
          <i class="fas fa-trash-alt delete-photo-btn"></i>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
