<%
=begin%>
 <div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6 col-xs-12">
      <div class="book-card mt-5 pt-5">
        <h2><%= @new ? "Crear" : "Editar" %> <%= @print.product.name %></h2>

          <%= simple_form_for([@product, @print]) do |f| %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Fotos?" %>
            <% if @new %>
              <%= f.button :submit, "Crear #{@print.product.name}" , class: "btn btn-flat"%>
            <% else %>
              <%= f.button :submit, "Actualizar #{@print.product.name}" , class: "btn btn-flat"%>
            <% end %>
          <% end %>
      </div>
    </div>

  </div>

  <div>
    <% unless @new %>
      <%= link_to "Mandar al carrito", complete_print_path, method: :patch, class: "btn btn-flat" %>
    <% end %>
  </div>


  <% if @print.photos.attached? %>
    <div class="book-card mt-5 pt-5">
      <div class="photos">
        <% @print.photos.each do |photo| %>
          <div class="photo-container">
            <%= cl_image_tag photo.key, class: "photo" %>
            <i class="fas fa-trash-alt delete-photo-btn"></i>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

</div>
<%
=end%>

<div class="container py-5">

    <!-- For demo purpose -->
    <header class="text-center">
        <h2 class="display-4"><%= @new ? "Crear" : "Editar" %> <%= @print.product.name %></h2>

        <img src="https://bootstrapious.com/i/snippets/sn-img-upload/image.svg" alt="" width="150" class="mb-4">
    </header>


    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" multiple="multiple" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Carga tus fotos</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Carga tus fotos</small></label>
                </div>
            </div>



            <!-- Uploaded image area-->
            <div class="image-area mt-4">
              <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
            </div>

        </div>
    </div>
</div>

<script>
/*  ==========================================
    SHOW UPLOADED IMAGE
* ========================================== */
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('imageResult')
                .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

$(function () {
    document.getElementById('upload').on('change', function () {
        readURL(input);
    });
});

/*  ==========================================
    SHOW UPLOADED IMAGE NAME
* ========================================== */
var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener('change', showFileName);
function showFileName(event) {
  var input = event.srcElements;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}
</script>
