<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
     <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644455044/instapix-chinoa-assets/logo/logo4_qvfg2f.svg" alt="instapixit" class="navbar-logo">
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Admin", orders_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Orders", my_orders_path, class: "nav-link" %>
          </li>


          <li class="nav-item">
            <%= link_to drafts_path, class: "nav-link cart-link"  do %>
              <i class="fas fa-edit"></i>
              <% if print_drafts.any? %>
                <span class="nav-counter"><%= print_drafts.count %></span>
              <% end %>
            <% end %>
          </li>

          <li>
            <%= link_to cart_path, class: "nav-link cart-link"  do %>
              <i class="fas fa-shopping-cart"></i>
              <% if pending_order.prints.where(complete: true).any? %>
                <span class="nav-counter"><%= pending_order.prints.where(complete: true).count %></span>
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%#= link_to "My coworkings", my_coworkings_path, class: "nav-link" %>
          </li>
          <a class="btn btn-flat mr-3" href="#">Comenzar</a>
          <li class="nav-item dropdown">
            <% if current_user && current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%#= link_to "Action", "#", class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
