<div class="container">
    <h2>Carrito <i class="fas fa-shopping-cart"></i></h2>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card mr-2 p-3">
          <h3>Enviar</h3>
          <%= simple_form_for @order, url: ship_order_path(@order), method: :patch do |f| %>
            <div class="form-inputs">
              <%= f.input :shipping_address,
                          required: true,
                          autofocus: true,
                          input_html: { id: 'shipping_address'} %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Confirmar direccion", class: "btn btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="card p-3">
          <ul>
            <% @order.prints.where(complete: true).each do |print| %>
              <li><%= print.id %> - <%= print.product.name %> x <%= print.quantity %> unidades - S/<%= print.product.base_price %>
                  <%= link_to "Editar", edit_print_path(print) %>
                  <%= link_to "Eliminar", print_path(print), method: :delete %>
              </li>
            <% end %>
              <% if @order.prints.where(complete: true).any? %>
                <%= link_to "Pagar", pay_order_path(@order), method: :patch, class: "btn btn-flat" %>
              <% end %>
          </ul>
        </div>
      </div>
    </div>


</div>
