<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497030947858-3f40f1508e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1>Tus recuerdos al instante <strong></strong></h1>
    <p>Instapixit la forma más fácil de imprimir tus fotos</p>
    <a class="btn btn-flat" href="#">Comenzar</a>
  </div>
</div>

  <div class="container">
    <div class="cards-container mb-5">
      <div>
        <div class="section-header">
          <h2 class="my-5 pl-5">Elije tu producto</h2>
        </div>
        <div class="cards px-5">
          <% @products.each do |product| %>
            <div class="card-trip">
              <% if product.photo.present? %>
                <%= cl_image_tag product.photo.key %>
              <% else %>
                <img src="https://source.unsplash.com/1600x900/?photos/<%= rand(1..30) %>" />
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= product.name%></h2>
                </div>
                <h2 class="card-trip-pricing">S/.<%= product.base_price %></h2>
              </div>
              <div class="card-trip-btns-container">
                <%= link_to "Empezar", new_product_print_path(product), class: "btn btn-flat" %>
                <%= link_to "Mas info", product_path(product), class: "btn btn-flat" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="cards-container mb-5">
      <div>
        <div class="section-header">
          <h2 class="mt-3 mb-5 pl-5">¿Por qué Instapix?</h2>
        </div>
        <div class="cards px-5">
          <div class="card-trip">
            <div class="card-trip-infos">
              <div class="text-center px-5">
                <h1 class="icono-camara d-flex justify-content-center fas fa-camera-retro" ></h1>
                <h4>Simple</h4>
                <h6 >Sube tus fotos desde el ordenador</h6>
              </div>
            </div>
          </div>
          <div class="card-trip">
            <div class="card-trip-infos">
              <div class="text-center px-3">
                <div class="img-cards">
                  <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643930199/icon-cuadro_c1niph.png" style="width: 60px; height :60px; " alt="espejo">
                </div>
                <h4>Lindo</h4>
                <h6>Diseños increibles prearmados</h6>
              </div>
            </div>
          </div>
          <div class="card-trip">
            <div class="card-trip-infos">
              <div class="text-center px-5">
                <h1 class="icono-camara d-flex justify-content-center far fa-images " ></h1>
                <h4>Rápido</h4>
                <h6>Recibe tu pedido a tu casa</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cards-container mb-5">
      <div>
        <div class="section-header">
          <h2 class="my-5 pl-5">¿Qué dice la gente?</h2>
        </div>

        <div class="row my-5">
          <div class="col-md-6 col-sm-12">

            <div class="card-home" style ="width: 350px;">
              <div class="d-flex">
                <div class="text-center pt-3">
                  <h5><strong>Fotos preciosas en segundos</strong></h5>
                  <p class="nombre">MARIA GUEVARA</p>
                  <p class="carrera">Abogada</p>
                </div>
                <div class="card-violeta">
                  <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643987382/maria-guevara_gtuw9r.jpg">
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-6 col-sm-12 center-vertical">

            <div class="card-home" style ="width: 350px;">
              <div class="d-flex">
                <div class="text-center pt-3 px-3">
                  <h5><strong>Que liiindos books, amo!</strong></h5>
                  <p class="nombre">KATTY MELGAR</p>
                  <p class="carrera">Diseñadora</p>
                </div>
                <div class="card-violeta">
                  <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643987383/katty-melgar_nruk69.jpg">
                </div>
              </div>
            </div>

          </div>
        </div>



      </div>
    </div>

  </div>
