<%= session[:current_order]%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497030947858-3f40f1508e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1>Tus recuerdos al instante <strong></strong></h1>
    <p>Instapixit la forma más fácil de imprimir tus fotos</p>
    <a class="btn btn-flat" href="#">Comenzar</a>
  </div>
</div>

<div class="container">
<div class="cards-container mb-5">

  <div>
    <h2 class="my-5 pl-5">Elije tu producto</h2>
    <div class="cards px-5">
      <% @products.each do |product| %>

        <div class="card-trip">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?photos/<%= rand(1..30) %>" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= product.name%></h2>
            </div>
            <h2 class="card-trip-pricing">S/.<%= product.base_price %></h2>
          </div>
          <div class="card-trip-btns-container">
            <%= link_to "Empezar", new_product_print_path(product), class: "btn btn-flat" %>
            <%= link_to "Mas info", product_path(product), class: "btn btn-flat" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  </div>
</div>
