<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497030947858-3f40f1508e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1>Tus recuerdos al instante <strong></strong></h1>
    <p>Instapixit la forma más fácil de imprimir tus fotos</p>
    <a class="btn btn-flat" href="#">Comenzar</a>
  </div>
</div>

<div class="container">
<div class="cards-container mb-5">

  <div>
    <div class="section-header">
      <h2 class="my-5 pl-5">Elije tu producto</h2>
    </div>
    <div class="cards px-5">
      <% @products.each do |product| %>

        <div class="card-trip">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?photos/<%= rand(1..30) %>" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= product.name%></h2>
            </div>
            <h2 class="card-trip-pricing">S/.<%= product.base_price %></h2>
          </div>
          <div class="card-trip-btns-container">
            <%= link_to "Empezar", new_product_print_path(product), class: "btn btn-flat" %>
            <%= link_to "Mas info", product_path(product), class: "btn btn-flat" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  </div>

  </div>
</div>

<p>Empezando yo</p>
  <!--comienzo de mis cards-->

  <h2> Por qué Instapix?</h2>

<section id="cards">

    <div class="container-fluid container-fluid-shorter py-4 bg-white">



        <div class="row">
            <div class="col-md-6 col-lg-4 my-3">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="images/assistant.jpg" alt="camara" class="card-img-top">
                    <div class="card-body">

                        <h4 class="card-title text-capitalize text-center text">Simple</h4>
                        <p class="card-text">
                        <h5 class="text-center text">Tus fotos ya estan cargadas en tu instagram</h5>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 my-3">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="images/developer.jpg" alt="espejo" class="card-img-top">
                    <div class="card-body">

                        <h4 class="card-title text-capitalize text-center text">Lindo</h4>
                        <p class="card-text">
                        <h5 class="text-center-text">Diseños increibles, prearmados</h5>


                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 my-3 mx-auto ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="images/advertiser.jpg" alt="fotos" class="card-img-top">
                    <div class="card-body">

                        <h4 class="card-title text-capitalize text-center text">Rápido</h4>
                        <p class="card-text">
                        <h5 class="text-center-text">Recibe tu pedido a tu casa.</h5>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Final de mis cards-->
</section>

  <h2 > Que dice la gente?</h2>

  <div class="card" style="width: 25rem;">
    <div class="p-2">
        <div>
            <img class="rounded circle " src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80  " alt="Mujer sonriendo" width= 50px height= 50px border-radius= 50px>

        </div>
        <!--<p class="col p-2 m-0">Text next to the right of the image</p>-->
    </div>

    <div class="card-body">
        <h5 class="card-title">Fotos preciosas en segundos</h5>
        <p class="nombre">Maria Guevara</p>
         <p class="carrera">Abogada</p>
    </div>
</div>
