<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1497030947858-3f40f1508e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container text-center">
    <h1>Tus recuerdos al instante <strong></strong></h1>
    <p>Instapixit la forma más fácil de imprimir tus fotos</p>
    <a class="btn btn-flat" href="#">Comenzar</a>
  </div>
</div>

<div class="container">
<div class="cards-container mb-5">

  <div>
    <div class="section-header">
      <h2 class="my-5 pl-5">Elije tu producto</h2>
    </div>
    <div class="cards px-5">
      <% @products.each do |product| %>

        <div class="card-trip">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?photos/<%= rand(1..30) %>" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= product.name%></h2>
            </div>
            <h2 class="card-trip-pricing">S/.<%= product.base_price %></h2>
          </div>
          <div class="card-trip-btns-container">
            <%= link_to "Empezar", new_product_print_path(product), class: "btn btn-flat" %>
            <%= link_to "Mas info", product_path(product), class: "btn btn-flat" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  </div>

  </div>
</div>

<p>Empezando yo</p>
  <!--comienzo de mis cards-->

  <h2> Por qué Instapix?</h2>
<div class= "container">
<div class="row">
    <div class="col-4" >
      <div class="card-trip">
        <h1 class="icono-camara d-flex justify-content-center fas fa-camera-retro" ></h1>
        <div class="card-trip-infos">
          <div>
          <h4>Simple</h4>
            <h6 >Tus fotos ya estan cargadas en tu instagram</h6>

          </div>
        </div>
      </div>
    </div>
    <div class="col-4" >
      <div class="card-trip">
      <img class="center-mirror" src="https://res.cloudinary.com/deavmhgtx/image/upload/v1643930199/icon-cuadro_c1niph.png" style="width: 50px; height :50px; " alt="espejo">
        <div class="card-trip-infos">
          <div>
          <h4 id="img-miror">Lindo</h4>
            <h6>Diseños increibles prearmados</h6>

          </div>
        </div>
      </div>
    </div>
    <div class="col-4" >
      <div class="card-trip">
        <h1 class=" center-photos d-flex justify-content-center far fa-images " ></h1>
        <div class="card-trip-infos">
          <div>
          <h4>Rápido</h4>
            <h6>Recibe tu pedido a tu casa</h6>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!--<section id="cards">
  <div class="container-fluid container-fluid-shorter py-4 bg-white">
      <div class="row">
        <div class="col-md-6 col-lg-4 my-3">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <img src="images/assistant.jpg" alt="camara" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title text-capitalize text-center text">Simple</h4>
            <p class="card-text">
            <h5 class="text-center text">Tus fotos ya estan cargadas en tu instagram</h5>


          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <img src="images/developer.jpg" alt="espejo" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title text-capitalize text-center text">Lindo</h4>
            <p class="card-text">
            <h5 class="text-center-text">Diseños increibles, prearmados</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-3 mx-auto">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
          <img src="images/advertiser.jpg" alt="fotos" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title text-capitalize text-center text">Rápido</h4>
            <p class="card-text">
            <h5 class="text-center-text">Recibe tu pedido a tu casa.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>-->

  <h2 class="text-md-start" > Que dice la gente?</h2>

<div class="d-flex justify-content-around">

<div class="card " style = "width: 350px">
  <div class="d-flex">
    <div>
      <h5 class ="comentario fw-bolder p-3 ">Fotos preciosas en segundos</h5>
      <p class=" nombre px-3 ">Maria Guevara</p>
      <p class="carrera px-3">Abogada</p>
    </div>
    <div class="card-violeta" style="background-color: #6048F0">
      <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="profile Photo" width= 100px height= 100px style= "border-radius:50%;object-fit: cover; margin: 18px" >
    </div>
  </div>
</div>


<div class="card " style = "width: 350px">
  <div class="d-flex">
    <div>
      <h5 class ="comentario fw-bolder p-3  ">Fotos preciosas en segundos</h5>
      <p class=" nombre px-3">Maria Guevara</p>
      <p class="carrera px-3">Abogada</p>
    </div>
    <div class="card-violeta" style="background-color: #6048F0">
      <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="profile Photo" width= 100px height= 100px style= "border-radius:50%;object-fit: cover; margin: 18px" >
    </div>
  </div>
</div>

</div>
