
  <div class="container-show-product center-vertical bg-white">
    <div class="row my-5">
      <div class="col-md-8 col-sm-12">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @product.photos.each_with_index do |photo, index| %>
              <% if index==0 %>
                <div class="carousel-item active" data-bs-interval="2000">
                  <%= cl_image_tag photo.key, style: "width: 100%; height: 500px; object-fit: cover;" ,
                    class: "d-block w-100" %>
                </div>
              <% else %>
                <div class="carousel-item" data-bs-interval="2000">
                  <%= cl_image_tag photo.key, style: "width: 100%; height: 500px; object-fit: cover;" ,
                    class: "d-block w-100" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <%# <span class="visually-hidden">Previous</span> %>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <%# <span class="visually-hidden">Next</span> %>
          </button>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 center-vertical">
        <div class="container">
          <h2><strong>
              <%= @product.name %>
            </strong></h2>
          <h3 style="color: #6048F0;">S/.<%= @product.base_price %>
          </h3>
          <h3>
            <%= @product.description %>
          </h3>
          <ul>
            <%= sanitize @product.details %>
          </ul>
          <%= link_to "Crear #{@product.name}" , new_product_print_path(@product) , class: "btn btn-flat" %>
        </div>
      </div>
    </div>

  </div>


  <div class="jumbotron mb-0">
    <div class="container">
      <h1 class="w-95 center-text">Los mejores recuerdos se convierten en los mejores objetos, increible</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      <img src="https://chatbooks.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fchtbks%2Fb46fb1cc-3ce2-4d77-92f9-b807f5001df7_CBIG_Stars_v1.png%3Fauto%3Dcompress%2Cformat&w=3840&q=75" id="img-stars" alt="">
    </div>
  </div>

  <section>
      <div class="main-topic">
        <div class="left-text">
          <h3 class="mt-2">Deadpool Fans Petition 'SNL' for Superhero to Host</h3>
          <p>
            Deadpool fans want its superhero to host Saturday Night Live — Deadpool, that is, not Ryan Reynolds.
            Fans of the Merc With a Mouth, who led the Marvel film to a history-making debut at the box office,
            have launched a Change.org petition calling for the antihero to host an upcoming episode of the NBC sketch comedy show.
            "We've all seen the trailers, the magazine covers, the viral videos, and the billboards by now,
            so what's left for Deadpool (Ryan Reynolds) to do?" creator Andrew Stege asks in the petition,
            which is directed to SNL, creator Lorne Michaels, parent.
          </p>
        </div>
        <div class="right-picture">
          <img src="http://cdn3.whatculture.com/wp-content/uploads/2015/10/f5S3dvUb.jpg">
        </div>
      </div>
  </section>



  <section id="testimonial-slider" class="bg-success py-5">
      <div class="container">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="col-sm-8 mx-auto">
                  <div class="carousel-inner text-center text-white py-5">
                      <div class="carousel-item active" data-bs-interval="10000">
                          <div class="user-photo shadow">
                              <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644272699/instapix-chinoa-assets/avatar31_yqinqv.jpg" class="img-fluid" alt="testimonial slider">
                          </div>
                          <div class="slider-caption mt-3">
                              <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Jose Gonzales</cite></figcaption>
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="10000">
                          <div class="user-photo shadow">
                              <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644272699/instapix-chinoa-assets/avatar11_jlth84.jpg" class="img-fluid" alt="testimonial slider">
                          </div>
                          <div class="slider-caption mt-3">
                              <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Rajnish Kumar</cite></figcaption>
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="10000">
                          <div class="user-photo shadow">
                              <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644272699/instapix-chinoa-assets/avatar21_z4cqvh.jpg" class="img-fluid" alt="testimonial slider">
                          </div>
                          <div class="slider-caption mt-3">
                              <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <figcaption class="blockquote-footer mt-3 text-white fs-5"><cite>Pardeep Dahiya</cite></figcaption>
                          </div>
                      </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden"></span>
              </button>
        </div>
    </div>
</section>



  <div class="ribbon-container my-4 bg-secondary">
      <div class="row d-flex align-items-center pt-4">
          <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 mx-auto center-vertical">
            <h2 class="text-center py-4">¿Todo preparado para comenzar tu aventura con Instapix?</h2>
            <div class="d-flex justify-content-center pb-2">
              <%= link_to "Crear #{@product.name}" , new_product_print_path(@product) , class: "btn btn-flat" %>
            </div>
          </div>
      </div>
  </div>
