<div class="container-show-product center-vertical">
  <div class="row my-5">
    <div class="col-md-8 col-sm-12">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @product.photos.each_with_index do |photo, index| %>
            <% if index==0 %>
              <div class="carousel-item active" data-bs-interval="2000">
                <%= cl_image_tag photo.key, style: "width: 100%; height: 500px; object-fit: cover;" ,
                  class: "d-block w-100" %>
              </div>
            <% else %>
              <div class="carousel-item" data-bs-interval="2000">
                <%= cl_image_tag photo.key, style: "width: 100%; height: 500px; object-fit: cover;" ,
                  class: "d-block w-100" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <%# <span class="visually-hidden">Previous</span> %>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <%# <span class="visually-hidden">Next</span> %>
        </button>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 center-vertical">
      <div class="container">
        <h2><strong>
            <%= @product.name %>
          </strong></h2>
        <h3 style="color: #6048F0;">S/.<%= @product.base_price %>
        </h3>
        <h3>
          <%= @product.description %>
        </h3>
        <ul>
          <%= sanitize @product.details %>
        </ul>
        <%= link_to "Crear #{@product.name}" , new_product_print_path(@product) , class: "btn btn-flat" %>
      </div>
    </div>
  </div>


</div>

  <div class="container align-items-center mb-5">
    <h2 class="mb-5">Cientos de clientes satisfechos nos recomiendan ...</h2>
    <div class="d-flex justify-content-around">
      <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644002541/instapix-chinoa-assets/Group_12_vhnj7b.png" class="img-fluid" alt="Responsive image">
      <img src="https://res.cloudinary.com/dsxmae0xw/image/upload/v1644002540/instapix-chinoa-assets/Group_13_qlzty9.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
